
blockquote {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 60px;
    margin-inline-end: 60px;
}

blockquote {
    font-size: 1.5em;
    line-height: 1.3em;
}

small
{
    display: inline-block;
    font-size: 55%;
    line-height: 2em;
    font-style: normal;
    font-weight: 400;
    color: 	rgba(0,0,0,0.7);
}

p {
    font-size: 18px;
}

.p {
    font-size: 18px;
}
