
blockquote {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
}

blockquote {
    font-size: 1.8em;
    line-height: 1.3em;
}

small
{
    display: inline-block;
    font-size: 45%;
    line-height: 1em;
    font-style: normal;
    font-weight: 400;
    color: 	rgb(169,169,169);
}
